html{
    position: relative;
    min-height: 100%;
}

body{
    font-family: 'Palanquin', sans-serif;
    margin: 0 0 70px;
}

div {
    margin: 0px;
}

strong {
    font-size: 2em;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    text-align: center;
    color: #FF7000;
}

.navbar-default {
  font-family: 'Palanquin', sans-serif;
 }

.nav.navbar-nav.navbar-right li a {
    color: #FF7000;
}

#logo {
    max-height: 1.5em;

}

#nav-padding {
    padding: 2em; 
    margin: 0px;
}

.marigold-orange {
   color: #FF7000; 
}


.btn {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  color: #ffffff;
  font-size: 24px;
  background: #FF7000;
  padding: 5px 15px 5px 15px;
  font-family: 'Palanquin', sans-serif;
}

.btn:hover {
  background: #F46C00;
  text-decoration: none;
}

.top {
    margin-top: 2em;
}

#check {
  margin-right: : 1px;
}

#check label {
  margin-right: 3em;
}




