<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
<body>
<div class="container">



    <img src="https://s3.amazonaws.com/marigoldapp/MariGoldLogo.png" style="width:100%">
    <h2>Reset Password</h2>
     <form action = "/user/user_change_password" method = "post">
        <div class="form-group">
            <label>Password</label><input type = "password"  class="form-control" name = "password" id="password" required/></p>
            <label>Confirm Password</label><input type ="password" class="form-control" id="confirm_password" required/></p>
                 <input class="form-control" type="hidden" name="link" value="{{ link }}">
            <p><input class="form-control" type = "submit" value = "Submit" /></p>
         </div>
    </form>
</div>
   

</body>
</html>






<script type="text/javascript">
var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>